html , body{
 scroll-behavior: smooth;
 height:100%;
 
}

/*edit*/
.blue {
    color: #1A477B
}

/*edit*/
.red {
    color: #CA0629
}

.bg-white {
    background: #fff !important;
    border: 1px solid #fff !important;
    color: #73879C
}

.container {
    width: 100%;
    padding: 0
}
.navbar-nav>li>a,
.navbar-brand,
.navbar-nav>li>a {
    color: #fff !important
}

body {
    color: #1A477B;
    background: #F8F9FC;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471
}

.col-md-55,
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    float: left;
    padding-right: 10px;
    padding-left: 10px
}
.row {
    margin-right: -10px;
    margin-left: -10px
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 10px;
    margin-bottom: 10px
}
a {
    color: #CA0629;
    text-decoration: none
}
a,
a:visited,
a:focus,
a:active,
:visited,
:focus,
:active,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: 0
}

.navbar {
    margin-bottom: 0
}


/*edit*/
.navbar-brand,
.navbar-nav>li>a {
    font-weight: 600;
    color: #1A477B !important;
    margin-left: 0 !important;
    line-height: 32px
}

footer {
    background: #fff;
    padding: 15px 20px;
    display: block
}

*,
*:before,
*:after {
    box-sizing: border-box
}

.bulk-actions {
    display: none
}

table.jambo_table {
    border: 1px solid rgba(221, 221, 221, 0.78)
}
/*edit*/
table.jambo_table thead {
    background: #1A477B;
    color: #ECF0F1
}

.tile_count {
    margin-bottom: 20px;
    margin-top: 20px
}
.tile_count .tile_stats_count {
    border-bottom: 1px solid #D9DEE4;
    padding: 0 10px 0 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative
}

@media (min-width: 992px) {
    .tile_count .tile_stats_count {
        margin-bottom: 10px;
        border-bottom: 0;
        padding-bottom: 10px
    }
}
.tile_count .tile_stats_count:before {
    content: "";
    position: absolute;
    left: 0;
    height: 65px;
    border-left: 2px solid #ADB2B5;
    margin-top: 10px
}
@media (min-width: 992px) {
    .tile_count .tile_stats_count:first-child:before {
        border-left: 0
    }
}
.tile_count .tile_stats_count .count {
    font-size: 30px;
    line-height: 47px;
    font-weight: 600
}
@media (min-width: 768px) {
    .tile_count .tile_stats_count .count {
        font-size: 40px
    }
}

.tile_count .tile_stats_count span {
    font-size: 12px
}
@media (min-width: 768px) {
    .tile_count .tile_stats_count span {
        font-size: 13px
    }
}

button,
.buttons,
.btn,
.modal-footer .btn+.btn {
    margin-bottom: 5px;
    margin-right: 5px
}

.form-control {
    border-radius: 0;
    width: 100%
}

.form-group {
    margin-bottom: 10px
}

/*edit*/
.btn {
    border-radius: 0.35rem;
}

/*=================================================
                ABOUT SECTION
=================================================*/
#about-text-1 {
    /padding-top: 70px;
    padding-bottom: 30px;
    padding-left: 350px;
    padding-right: 350px;
}

#about-title-1 h3 {
    font-weight: 600;
    /font-size: 42px;
    text-align: center;
    margin-bottom: 0px;
    /color: #4C4C4C;
}

#about-text-1 p {
    /font-weight: 400;
    /font-size: 22px;
    text-align: left;
    margin-bottom: 0px;
    /color: #4C4C4C;
}